app/css/
app/js/libs.min.js
node_modules
/dist
package-lock.json
/.idea
.project
.classpath
.c9/
*.launch
.settings/

.vscode/*
!.vscode/setting.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

.DS_Store

Thumbs.db


